$subtitle-vainilla: 800 24px/1.5 'Lato', sans-serif;

/* Page wp vainilla */

h2.sub-vainilla {
    font: $subtitle-vainilla;
}

.carousel-indicators.outside {
    bottom: -2rem;
}
  
/* Vertical carousel */
.carousel-control-prev.horizontal {
    left: -100px;
}
  
.carousel-control-next.horizontal {
    right: -100px;
}
  
.carousel-control-prev.vertical {
    position: absolute;
    top: 0;
    bottom: 2rem;
    left: -1rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
  
.carousel-control-next.vertical {
    position: absolute;
    top: 2rem;
    bottom: 0;
    left: -1rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.vertical-out .carousel-item-next.carousel-item-left,
.vertical-out .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vertical-out .carousel-item-next,
.vertical-out .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vertical-out .carousel-item-prev,
.vertical-out .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

/* Main-bottom */
.main-bottom {
    margin-top: 2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 21.6% 78.4%;
        grid-template-columns: 21.6% 78.4%;
}