@charset "UTF-8";
/* CSS AROD.com */
/* Variables */
.container-descargas {
  max-width: 90%;
  margin: 2.5rem auto;
}

.container-descargas h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2em;
}

.container-descargas h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2em;
}

.container-descargas h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1em;
}

.container-descargas p {
  margin-bottom: 1rem;
}

.container-descargas .btn {
  font-weight: 900;
  border-radius: 2rem;
  text-transform: uppercase;
}

.container-descargas .descarga {
  background-color: #03DEFF;
}

.container-descargas .github {
  background-color: #FF1C89;
  background-image: url(../img/github.svg);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 20px 12px;
  padding-left: 50px;
}

.descargas-titulo {
  grid-area: titulo;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.descargas-titulo img {
  max-width: 100%;
}

.descargas-descripcion {
  grid-area: descripcion;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.descargas-carrusel button {
  width: 5%;
  background-color: transparent;
  border: none;
  outline: none;
}

.descargas-carrusel button.carousel-control-prev {
  left: -25px;
}

.descargas-carrusel button.carousel-control-next {
  right: -25px;
}

.descargas-carrusel .plugins-title {
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
}

@media only screen and (max-width: 1024px) {
  .container-descargas {
    max-width: 90%;
    margin: .5rem auto;
  }
  .container-descargas img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  /* Variables */
  .container-descargas h1 {
    font-size: 2rem;
  }
  .container-descargas h2 {
    font-size: 2rem;
  }
  .container-descargas h3 {
    font-size: 1.5rem;
  }
  .container-descargas img {
    margin-bottom: 1rem;
  }
  .container-descargas .btn {
    font-size: .85rem;
  }
  .container-descargas .descarga {
    margin-right: 10px;
  }
  .descargas-carrusel button {
    width: 12%;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .descargas-carrusel button.carousel-control-prev {
    left: -10px;
  }
  .descargas-carrusel button.carousel-control-next {
    right: -10px;
  }
  .descargas-carrusel .plugins-title {
    font-size: 1.1rem;
  }
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */
/* Map */
.btn--facebook {
  fill: #ffffff;
}

.btn--twitter {
  fill: #eeeeee;
}

.btn--instagram {
  fill: #dddddd;
}

.btn--linkedin {
  fill: #cccccc;
}

/* Mixins */
/* Estilos generales */
p,
a,
li,
div,
span,
body {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
}

h1, h4, h5, h6 {
  font-family: "Bakbak One", sans-serif;
  color: #ffffff;
}

h2, h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #ffffff;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  background-color: #2E2A36;
}

/* Header */
header {
  background: #2e2a36;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, #2e2a36), color-stop(34%, #716588), to(#33244f));
  background: linear-gradient(90deg, #2e2a36 3%, #716588 34%, #33244f 100%);
}

.header {
  max-width: 80%;
  margin: 0 auto;
}

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 1rem 6rem 1rem 6rem;
  border-bottom: 2px solid #eee;
}

.headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerLinks li:not(last-child) {
  padding-right: 2.5rem;
}

.logo svg {
  max-height: 60px;
  width: auto;
  vertical-align: middle;
}

.logo path {
  fill: #ffffff;
}

.nav-header a {
  color: #ffffff;
}

.nav-header li {
  font-weight: 900;
  color: #ffffff;
}

/* Main */
h1 {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.main-section {
  max-width: 80%;
}

.box-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.box {
  margin-right: 10px;
  padding: 10px 20px 20px 0;
}

.box-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.btn {
  margin: 20px auto 20px 150px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #222222;
  padding: 10px 30px 10px 30px;
  color: #ffffff;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn a {
  color: #ffffff;
  font-size: 16px;
}

/* Cajas home */
.box {
  position: relative;
}

.boxHomeImg {
  height: 20vh;
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.overlay, .overlay--featured {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(255, 27, 138, 0.25)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 27, 138, 0.25));
  height: 20vh;
  width: 20vw;
  border-radius: 8px;
}

.overlay--featured {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(3, 222, 255, 0.55)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(3, 222, 255, 0.55));
}

.boxTitle {
  font-size: 21px;
  margin-top: 20px;
  margin-left: 10px;
}

.memeImg {
  width: 20vw;
  height: auto;
}

/* Page wp vainilla */
.carousel-indicators.outside {
  bottom: -2rem;
}

/* Vertical carousel */
.carousel-control-prev.horizontal {
  left: -100px;
}

.carousel-control-next.horizontal {
  right: -100px;
}

.carousel-control-prev.vertical {
  position: absolute;
  top: 0;
  bottom: 2rem;
  left: -1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.carousel-control-next.vertical {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: -1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.vertical-out .carousel-item-next.carousel-item-left,
.vertical-out .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical-out .carousel-item-next,
.vertical-out .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vertical-out .carousel-item-prev,
.vertical-out .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* Main-bottom */
.main-bottom {
  margin-top: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 21.6% 78.4%;
      grid-template-columns: 21.6% 78.4%;
}

/* Footer */
footer {
  background: #2e2a36;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, #2e2a36), color-stop(34%, #716588), to(#33244f));
  background: linear-gradient(90deg, #2e2a36 3%, #716588 34%, #33244f 100%);
}

.footer {
  max-width: 80%;
  margin: 0 auto;
}

.footerLogo svg {
  max-height: 120px;
  fill: #ffffff;
}

small {
  text-align: center;
}

.enlaces a {
  color: #aaa;
  line-height: 24px;
  font-weight: 700;
  cursor: not-allowed;
}

.footer-nav a {
  color: #ffffff;
  line-height: 24px;
  font-weight: 700;
}

.redes li {
  text-align: right;
}

.redes li svg {
  max-width: 50px;
}

/* Contacto */
.container-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.contacto {
  display: block;
  margin: 0 auto;
  text-align: center;
}

form {
  max-width: 750px;
  display: block;
  padding: 20px;
  text-align: left;
  margin: auto;
}

label {
  margin-bottom: 10px;
}

/* Categoría page */
.container-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 10vh 80% 10vh;
      grid-template-rows: 10vh 80% 10vh;
}

.page {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.page h1 {
  margin-bottom: 20px;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-box {
  max-width: 500px;
}

.img-box img {
  width: 250px;
  height: auto;
}

.img-box h3 {
  margin-top: 10px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.descargas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-box a {
  color: #222222;
}

/* Article */
.container-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 15vh 80% 15vh;
      grid-template-rows: 15vh 80% 15vh;
}

.article {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.article h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.article p {
  margin-bottom: 20px;
}

.article img {
  width: 750px;
  height: auto;
  margin: 0 auto 20px auto;
  text-align: center;
  display: block;
}

.video {
  position: relative;
  margin: 20px auto;
  height: 0;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.author span {
  margin: 0 5px 0 5px;
}

.author img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/*========================================================== ANIMACIONES ===================================================================*/
/* Cajas home */
.box {
  -webkit-transition: all 0.5s ease-out 0.1s;
  transition: all 0.5s ease-out 0.1s;
  cursor: pointer;
  z-index: 666;
}

.box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  z-index: 999;
}

.overlay, .overlay--featured {
  -webkit-transition: background-image 1 ease-out 0.2s;
  transition: background-image 1 ease-out 0.2s;
}

.box:hover > .overlay, .box:hover > .overlay--featured {
  -webkit-animation: gradiente 1s ease-in .5s infinite alternate;
          animation: gradiente 1s ease-in .5s infinite alternate;
}

.box:hover > .overlay--featured {
  -webkit-animation: gradiente--dos 1s ease-in .5s infinite alternate;
          animation: gradiente--dos 1s ease-in .5s infinite alternate;
}

@-webkit-keyframes gradiente {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 42, 54, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to right, rgba(46, 42, 54, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  25% {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 42, 54, 0.15)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to top, rgba(46, 42, 54, 0.15), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  50% {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to left, rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  75% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to bottom, rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 27, 138, 0.35)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(0, 0, 0, 0.25)));
    background-image: linear-gradient(to right, rgba(255, 27, 138, 0.35), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(0, 0, 0, 0.25));
  }
}

@keyframes gradiente {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 42, 54, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to right, rgba(46, 42, 54, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  25% {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 42, 54, 0.15)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to top, rgba(46, 42, 54, 0.15), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  50% {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to left, rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  75% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(255, 27, 138, 0.35)));
    background-image: linear-gradient(to bottom, rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.35));
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 27, 138, 0.35)), color-stop(rgba(255, 27, 138, 0.25)), color-stop(rgba(255, 27, 138, 0.25)), to(rgba(0, 0, 0, 0.25)));
    background-image: linear-gradient(to right, rgba(255, 27, 138, 0.35), rgba(255, 27, 138, 0.25), rgba(255, 27, 138, 0.25), rgba(0, 0, 0, 0.25));
  }
}

@-webkit-keyframes gradiente--dos {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 42, 54, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), to(rgba(3, 222, 255, 0.55)));
    background-image: linear-gradient(to right, rgba(46, 42, 54, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.55));
  }
  25% {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 42, 54, 0.15)), color-stop(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), to(rgba(3, 222, 255, 0.55)));
    background-image: linear-gradient(to top, rgba(46, 42, 54, 0.15), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.55));
  }
  50% {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.35)), to(rgba(3, 222, 255, 0.55)));
    background-image: linear-gradient(to left, rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.35), rgba(3, 222, 255, 0.55));
  }
  75% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.35)), color-stop(rgba(3, 222, 255, 0.55)), to(rgba(3, 222, 255, 0.35)));
    background-image: linear-gradient(to bottom, rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.35), rgba(3, 222, 255, 0.55), rgba(3, 222, 255, 0.35));
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(3, 222, 255, 0.35)), color-stop(rgba(3, 222, 255, 0.55)), color-stop(rgba(3, 222, 255, 0.25)), to(rgba(0, 0, 0, 0.25)));
    background-image: linear-gradient(to right, rgba(3, 222, 255, 0.35), rgba(3, 222, 255, 0.55), rgba(3, 222, 255, 0.25), rgba(0, 0, 0, 0.25));
  }
}

@keyframes gradiente--dos {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 42, 54, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), to(rgba(3, 222, 255, 0.55)));
    background-image: linear-gradient(to right, rgba(46, 42, 54, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.55));
  }
  25% {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 42, 54, 0.15)), color-stop(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), to(rgba(3, 222, 255, 0.55)));
    background-image: linear-gradient(to top, rgba(46, 42, 54, 0.15), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.55));
  }
  50% {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.35)), to(rgba(3, 222, 255, 0.55)));
    background-image: linear-gradient(to left, rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.35), rgba(3, 222, 255, 0.55));
  }
  75% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 222, 255, 0.25)), color-stop(rgba(3, 222, 255, 0.35)), color-stop(rgba(3, 222, 255, 0.55)), to(rgba(3, 222, 255, 0.35)));
    background-image: linear-gradient(to bottom, rgba(3, 222, 255, 0.25), rgba(3, 222, 255, 0.35), rgba(3, 222, 255, 0.55), rgba(3, 222, 255, 0.35));
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(3, 222, 255, 0.35)), color-stop(rgba(3, 222, 255, 0.55)), color-stop(rgba(3, 222, 255, 0.25)), to(rgba(0, 0, 0, 0.25)));
    background-image: linear-gradient(to right, rgba(3, 222, 255, 0.35), rgba(3, 222, 255, 0.55), rgba(3, 222, 255, 0.25), rgba(0, 0, 0, 0.25));
  }
}

.mobile {
  display: none;
}

/* Responsive */
@media only screen and (max-width: 1024px) {
  /* Estilos generales */
  body {
    font-size: 14px;
  }
  /*Grilla index*/
  .container {
    margin: 20px auto;
    padding: .5rem 5rem .5rem 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr .5fr;
        grid-template-rows: 1fr .5fr;
        grid-template-areas: "vainillawp jamstackwp" "plugins meme";
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 20px;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Cajas Home*/
  .boxHomeImg {
    width: 300px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .overlay, .overlay--featured {
    width: 300px;
    height: 150px;
  }
  .btn {
    margin: 20px auto;
  }
  .memeImg {
    width: 300px;
    height: auto;
  }
  .box-large,
  .box-medium {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Page*/
  .page h1 {
    font-size: 2rem;
  }
  .page h2 {
    font-size: 1.5rem;
  }
  .page h3 {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 768px) {
  /* Estilos generales */
  body {
    font-size: 12px;
  }
  /* Header */
  .navHeader {
    padding: 1rem 2rem 1rem 2rem;
  }
  .logo {
    display: none;
  }
  .headerLinks li:not(last-child) {
    padding-right: 1rem;
  }
  /* Grilla index */
  .container {
    padding: .5rem 5rem .5rem 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "vainillawp" "jamstackwp" "plugins" "meme";
    row-gap: 10px;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Cajas home */
  .boxHomeImg {
    width: 300px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .overlay, .overlay--featured {
    width: 300px;
    height: 150px;
  }
  .btn {
    margin: 20px auto;
  }
  .memeImg {
    width: 300px;
    height: auto;
  }
  .box-large,
  .box-medium {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Grilla pages */
  .container-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
    -ms-grid-rows: 5vh 90% 5vh;
        grid-template-rows: 5vh 90% 5vh;
  }
  .no-mobile {
    display: none;
  }
  .mobile {
    display: block;
  }
  /* Footer */
  .innerFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem;
  }
  .footerLogo {
    width: 100%;
  }
  .footerLogo svg {
    max-height: 100px;
    margin: 1rem auto;
  }
  .enlaces,
  .footer-nav {
    width: 100%;
    text-align: center;
  }
  .enlaces a {
    margin-right: 0;
  }
  /* Page wp vainilla */
  .carousel-control-prev.horizontal {
    left: -1rem;
  }
  .carousel-control-next.horizontal {
    right: -1rem;
  }
  .carousel-control-prev.vertical {
    position: absolute;
    top: 0;
    bottom: 2rem;
    left: -1rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .carousel-control-next.vertical {
    position: absolute;
    top: 2rem;
    bottom: 0;
    left: -1rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  /* Main-bottom */
  .main-bottom {
    margin-top: 2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: .5fr auto;
        grid-template-rows: .5fr auto;
  }
}
/*# sourceMappingURL=estilos.css.map */