
@media only screen and (max-width: 1024px) {
    .container-descargas {
        max-width: 90%;
        margin: .5rem auto;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 767px) {
    /* Variables */ 
    $fontSize1: 2rem;
    $fontSize2: 1.5rem;
    .container-descargas {
        h1 {
            font-size: $fontSize1;
        }
        h2 {
            font-size: $fontSize1;
        }
        h3 {
            font-size: $fontSize2;
        }
        img {
            margin-bottom: 1rem;
        }
        .btn {
            font-size: .85rem;
        }
        .descarga {
            margin-right: 10px;
        }
    }
    .descargas-carrusel {
        button {
            width: 12%;
            background-color: transparent;
            border: none;
            outline: none;
        }
        button.carousel-control-prev {
            left: -10px;
        }
        button.carousel-control-next {
            right: -10px;
        }
        .plugins-title {
            font-size: 1.1rem;
        }
    }
}